<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="${pageTitle} - BookForest">BookForest</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div class="wrapper">
    <!-- Header -->
    <th:block th:replace="~{layout/fragments/header :: headerFragment}"></th:block>

    <!-- Main Content -->
    <main class="main-content" layout:fragment="content">
        <!-- Each page's content will be inserted here -->
    </main>

    <!-- Footer -->
    <th:block th:replace="~{layout/fragments/footer :: footerFragment}"></th:block>
</div>

<th:block layout:fragment="script"></th:block>
</body>
</html>
