<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookforest.project_bookforest_intj.book.repository.BookRepository">

    <select id="findAll" resultType="com.bookforest.project_bookforest_intj.book.entity.Book">
        SELECT BOOK_ID, TITLE, AUTHOR, PUBLISHER, PUBLICATION_DATE, PAGES, PRICE, SALE_PRICE, DESCRIPTION, CONTENTS, COVER_IMG, ISBN, CATEGORY
        FROM BOOK
    </select>

</mapper>