<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookforest.project_bookforest_intj.user.repository.UserRepository">

    <resultMap type="com.bookforest.project_bookforest_intj.user.vo.RegisterReqDto" id="registerReqMap">
        <result property="aeId" column="AE_ID" />
        <result property="userNm" column="USER_NM" />
        <result property="userId" column="USER_ID" />
        <result property="address" column="ADDRESS" />
        <result property="email" column="EMAIL" />
        <result property="enabled" column="ENABLED" />
        <result property="password" column="PASSWORD" />
        <result property="phone" column="PHONE" />
        <result property="username" column="USERNAME" />
        <result property="mustChangePassword" column="MUST_CHANGE_PASSWORD" />
        <collection property="authVOList" resultMap="authMap" />
    </resultMap>

    <resultMap type="com.bookforest.project_bookforest_intj.user.vo.AuthVO" id="authMap" >
        <result property="aeId" column="AE_ID" />
        <result property="ccgU001" column="CCG_U001" />
    </resultMap>

    <select id="findByUsername" parameterType="String" resultMap="registerReqMap">
        SELECT AE_ID, CCG_U001, USER_NM, USER_ID, ADDRESS, EMAIL
             , ENABLED, PASSWORD, PHONE, USERNAME, MUST_CHANGE_PASSWORD
        FROM   USERS
        WHERE  AE_ID = #{username}
    </select>

    <select id="findUsernameByNameAndEmail" resultType="String">
        SELECT USERNAME
        FROM USERS
        WHERE USER_NM = #{userNm} AND EMAIL = #{email}
    </select>

    <select id="findByUsernameOrEmail" resultType="com.bookforest.project_bookforest_intj.user.vo.UserVO">
        SELECT AE_ID, USERNAME, EMAIL
        FROM USERS
        WHERE USERNAME = #{usernameOrEmail} OR EMAIL = #{usernameOrEmail}
    </select>

    <update id="updatePassword">
        UPDATE USERS
        SET PASSWORD = #{password}
        WHERE USERNAME = #{username}
    </update>

    <select id="findByNameAndUsernameAndEmail" resultType="com.bookforest.project_bookforest_intj.user.vo.UserVO">
        SELECT USER_ID, USERNAME, PASSWORD, EMAIL, USER_NM as name, PHONE, ADDRESS
        FROM USERS
        WHERE USER_NM = #{name} AND USERNAME = #{username} AND EMAIL = #{email}
    </select>

    <update id="updateMustChangePassword">
        UPDATE USERS
        SET MUST_CHANGE_PASSWORD = #{mustChangePassword}
        WHERE USERNAME = #{username}
    </update>

    <insert id="registerUser" parameterType="com.bookforest.project_bookforest_intj.user.vo.RegisterReqDto">
        INSERT INTO USERS
        (AE_ID, CCG_U001, USER_NM, ADDRESS
        , EMAIL, ENABLED, PASSWORD, PHONE, USERNAME)
        VALUES(#{username}, 'ROLE_U01', #{userNm}, #{address}
              , #{email}, '1', #{password}, #{phone}, #{username})
    </insert>

    <select id="findByUserId" resultType="com.bookforest.project_bookforest_intj.user.vo.UserVO">
        SELECT USER_ID, USERNAME, PASSWORD, EMAIL, USER_NM as name, PHONE, ADDRESS
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

</mapper>