<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header class="site-header" th:fragment="headerFragment">
    <a th:href="@{/}" class="logo">BookForest</a>

    <nav class="main-nav">
        <a th:href="@{/book/list}">도서 목록</a>
        <a th:href="@{/customer-service}">고객센터</a>
        <a th:href="@{/mypage/orders}">마이페이지</a>
    </nav>

    <nav class="util-nav">
        <a th:href="@{/login}">로그인</a>
        <a th:href="@{/signup}">회원가입</a>
        <a th:href="@{/cart}">장바구니</a>
    </nav>
</header>

</html>
