<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookForest - 비밀번호 재설정 완료</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{layout/fragments/header :: headerFragment}"></div>

    <main class="main-content" style="padding-top: 60px; padding-bottom: 60px;">
        <div class="container" style="max-width: 480px; margin: 0 auto; text-align: center;">
            <div class="header">
                <h1>비밀번호 재설정 완료</h1>
            </div>
            <p>비밀번호가 성공적으로 재설정되었습니다.</p>
            <div style="margin-top: 30px;">
                <a th:href="@{/user/login}" class="btn">로그인 페이지로</a>
            </div>
        </div>
    </main>

    <div th:replace="~{layout/fragments/footer :: footerFragment}"></div>
</div>
</body>
</html>